.wrapper {
  display: flex;
  gap: 40px;
  div:first-child {
    margin-top: 60px;
    // max-width: 500px;
  }
  .btnContainer {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-top: 35px;
    gap: 15px;
    .pdfBtn {
      text-decoration: none;  
      background-color: #2e3092;
      border-radius: 2px;
      border: 0;
      color: white;
      font-size: 20px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      max-width: 400px;
    }
    .pdfBtn:hover {
      background-color: darken(#2e3092, 10%);
    }
  }
  img{
    max-width: 50%;
  }
}
@media screen and (max-width: 1060px) {
    .wrapper{
        flex-direction: column-reverse;
        gap: unset;
        align-items: center;
    }
    @media screen and (max-width: 900px) {
        .wrapper{
            img{
                max-width: 100%;
            }
        }
    }
    @media screen and (max-width: 486px) {
        .btnContainer{
            max-width: unset !important;
            .pdfBtn{
                max-width: unset !important;
            }
        }
    }
}