.NewsSectionAllContent{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.NewsSectionCardsContent{
    display: flex;
    max-width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.NewsSectionRemoveLinkConfig{
    text-decoration: none;
}

.NewsSectionDivTexts{
    width: 100%;
    min-height: 100px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba($color: #f1f1f1, $alpha: 1.0);
}

.NewsSectionImages{
    max-width: 100%;
    width: 580px;
    min-width: 250px;
    object-fit: cover;
}

.NewsSectionArea{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 80%;
    margin-left: 34px;
    padding-top: 20px;
}

.NewsSectionArea img{
    width: 25px;
    height: 24px;
}

.NewsSectionTextTitle{
    color: #263238;
    font-size: 24px;
    margin-left: 34px;
    margin-top: 10px;
    padding-bottom: 25px;
    max-width: 80%;
}

.NewsSectionCenterText{
    height: 100%;
}

@media only screen and (max-width: 768px) {

    .NewsSectionTextTitle, .NewsSectionArea{
        margin-left: 14px;
    }
}
