.ValueSvg {
//   width: 400px;
//   height: 400px;
    & g {
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    &:hover g:not(:hover) {
        filter: grayscale(0.9);
    }
}

.ValueContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
     & > div {
        width: 50%;
        max-width: 400px;
     }
  }

.ValueDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transition: all 500ms ease-in-out;

  & h1 {
    font-size: 32px;
    color: #011689;
    font-weight: bold
 };

 & p {
    font-size: 16px;
    color: black;
    white-space: pre-wrap;
 }
}

@media (max-width: 900px){
    .ValueContainer {
        flex-direction: column-reverse;
        gap: 0;

         & > div {
            width: 100%;
            max-width: 400px;
         }
      }
}