@mixin ButtonStyle($borderwidth) {
  .button {
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    width: fit-content;
    font-size: 16px;
    padding: 10px 20px;
    border: $borderwidth solid #011689;

    &:before {
      content: "";
      position: absolute;
      top: -$borderwidth/2;
      left: -$borderwidth;
      width: 0%;
      height: calc(100% + $borderwidth);
      transition: all 0.3s;
      z-index: -1;
      border-radius: 8px;
    }

    &:hover {
      color: white;
      &:before {
        width: calc(100% + $borderwidth * 2);
      }
    }
  }
}

@include ButtonStyle(2px);

.outlined {
  background-color: #ffffff;
  color: #011689;

  &:before {
    background-color: #011689;
  }
}

.filled {
  background-color: #011689;
  color: #ffffff;

  &:before {
    background-color: darken(#011689, 15%);
  }
}
