button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.button-outlined {
    background: #FFFFFF;
    border: 2.5px solid #011689;
    border-radius: 8px;
    width: 127px;
    height: 44px;
    color: #011689;
    font-size: 16px;
}

.button-filled {
    background: #011689;
    border-radius: 8px;
    width: 165px;
    height: 62px;
    font-size: 18px;
    color: #FFFFFF;
}

