.tableContainer{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0 10px;
}

.tableDiv{
    width: 100%;
}

.tableTitle{
    font-family: Montserrat, sans-serif;
    background-color: #2E3092;
    color: #FFFFFF;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.tableText{
    font-family: Montserrat, sans-serif;
    width: 100%;
    margin-top: 2.5px;
}