p{

}


.typography-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.typography-subtitle{
    font-weight: 700;
    font-size: 32px;
}

.typography-title{
    font-weight: 700;
    font-size: 48px;
}
.blue{
    color: #011689;
}
.white{
    color: white;
}