.row{
    div{
        width: 288px;
    }
}

.toggle_button_cover
{
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button_cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button_cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}
.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    border-radius: 10px;
    background-color: #F7F7F7;
    transition: .4s ease all;
    z-index: 1;
}
#button_10
{
    border-radius: 2px;
}
#button_10 .knobs:before, #button_10 .knobs:after, #button_10 .knobs span
{
    position: absolute;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 10px 4px;
    border-radius: 2px;
    transition: all .4s ease;
}

#button_10 .knobs:before
{
    content: '';
    height: 100%;
    width: 143px;
    left: 0;
    border-radius: 9.53px;
    background-color: #2E3092;
}

#button_10 .knobs:after
{
    content: 'Doações Mensais';
    right: .6%;
    color: #ADB5B9;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 143px;
    height: 100%;
}

#button_10 .knobs span
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
    width: 135px;
}

#button_10 .checkbox:checked + .knobs span
{
    color: #ADB5B9;
}

#button_10 .checkbox:checked + .knobs:before
{
    left: 50%;
}

#button_10 .checkbox:checked + .knobs:after
{
    color: #fff;
}


