.LayoutSection {
    opacity: 1;
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.LayoutSection span {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    
}

