.divAdjust{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

#boldAdjust{
    font-weight: 700;
}

.marginBottomDiv{
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 60px;
}
