.ImpactPhraseSection{
    display: flex;
    align-items: center;
    justify-content: space-around;

    .ImpactPhraseDivider{
        height: 58px;
        width: 2px;
        background-color: white;
        margin-right: 30px;
    }

    .ImpactPhraseContainer{
        display: flex;

        #ImpactPhrase{
            margin-bottom: 24px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .ImpactPhraseSection{
        padding-top: 40px;
        padding-bottom: 40px;
        img{
            display: none;
        }
    }
}